{% load static %}
<!--This code origionated from https://developers.google.com/maps/documentation/javascript/adding-a-google-map -->
<!DOCTYPE html>
<html>

<head>
  <title>D.Decker</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://allfont.net/allfont.css?fonts=franklin-gothic-book" rel="stylesheet" type="text/css" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,700" rel="stylesheet" />

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <script src="{% static 'javascript/explore_script.js' %}"></script>
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
</head>

<body>

  <header>
    <img src="{% static '/images/logo6.png' %}" alt="logo" />
    {% comment %} <h1>DOUBLE DECKER</h1> {% endcomment %}
    <div class="wrapper">
      <nav>
        <div id="hide">
          <ul>
            <li><a class="a2" href="/">Plan</a></li>
            <li><a class="a2" href="#">Explore</a></li>
            <li><a class="a2" href="/tourism/">Tour</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container-nav">
      <div id="abs1">
        <nav class="navbar">
          <div class="hamburger-menu">
            <div class="line line-1"></div>
            <div class="line line-2"></div>
            <div class="line line-3"></div>
          </div>
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="/">Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Explore</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tourism/">Tour</a>
            </li>
          </ul>
        </nav>
      </div>
  </header>


  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-6">
        <div class="glass2">
          <div id="map"></div>
        </div>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for route..." id="searchTxt">

            <button class="btn btn-secondary" type="button" id="myBtn">Add</button>
            <button class="btn btn-secondary" onclick="clearItem()" type="button"id="clear">clear all</button>
                      
        </div>
      </div>
    </div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPETuAHfCs0s7w6jHsU-5goCWlHPGNIkY&callback=initMap&libraries=&v=weekly"
      async></script>
    <footer>
      <div class="wrapper">
        <div id="footer-info">
          <p>Copyright 2014 CompanyName. All rights reserved.</p>
          <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
        </div>
        <div id="footer-links">
          <ul>
            <li>
              <h5>Company</h5>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Meet The Team</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
          <ul>
            <li>
              <h5>Company</h5>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Meet The Team</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
          <ul>
            <li>
              <h5>Company</h5>
            </li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Meet The Team</a></li>
            <li><a href="#">What We Do</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </footer>
</body>

</html>