{% extends './base.html' %} {% load static %} {% block packages %}

<script src="{% static 'javascript/explore_script.js' %}"></script>

{% endblock %} {% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="glass">
        <!-- Current Weather Feature -->
        <div class="weather-outer" style="padding-top: 80px">
          <div class="app-title">
            <p>Weather</p>
          </div>
          <div class="notification"></div>
          <div class="weather-container">
            <div class="weather-icon">
              <img src="{% static '/icons/unknown.png' %}" alt="" />
            </div>
            <div class="temperature-value">
              <p>- °<span>C</span></p>
            </div>
            <div class="temperature-description">
              <p>-</p>
            </div>
            <div class="location"></div>
          </div>
          <div
            class="input-group"
            style="padding-top: 70px; padding-bottom: 30px"
          >
            <input
              id="searchTxt"
              type="text"
              class="form-control"
              placeholder="Search for route..."
            />
            <span class="input-group-btn">
              <button
                class="btn btn-secondary"
                type="submit"
                id="myBtn"
                style="margin-right: 15px"
              >
                Add
              </button>
            </span>
            <span class="input-group-btn">
              <button
                class="btn btn-secondary"
                onclick="clearItem()"
                type="button"
              >
                clear all
              </button>
            </span>
            <span
              style="margin-left: 15px"
              class="d-inline-block"
              tabindex="0"
              data-toggle="tooltip"
              data-html="true"
              title="This tool helps you explore different bus routes. <br><br>
              1. Input the Bus Number at your bus stop. one by one <br><br>
              2. The general route is diplayed on the map. <br>
              <br>To explore where you get go with a friend! or alone :("
            >
              <button
                class="btn btn-secondary"
                style="pointer-events: none"
                type="button"
                disabled
              >
                <i class="bi bi-info-lg"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8 ml-lg-auto" style="margin-bottom: 30px">
      <div class="glass2">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
