{% load static %}
<!--This code origionated from https://developers.google.com/maps/documentation/javascript/adding-a-google-map -->
<!DOCTYPE html>
<html>

<head>
  <title>D.Decker</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width initial-scale=1.0" />


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

  <!-- the following is from https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>

  <!-- Font Awesome -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />

  <!-- Moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
    integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

  <!-- Tempus Dominus Bootstrap 4 -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
    integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
    integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

  <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <script defer src="{% static 'javascript/script.js' %}"></script>
</head>

<body>
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Double Decker</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Plan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="explore/">Explore</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="conatiner-fluid">
    <div class="row">
      <div class="col-md-4">
        <!-- Current Weather Feature -->
        <div class="container">
          <div class="app-title">
            <p>Weather</p>
          </div>
          <div class="notification"></div>
          <div class="weather-container">
            <div class="weather-icon">
              <img src="{% static '/icons/unknown.png' %}" alt="" />
            </div>
            <div class="temperature-value">
              <p>- °<span>C</span></p>
            </div>
            <div class="temperature-description">
              <p>-</p>
            </div>
            <div class="location"></div>
          </div>
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Origin</span>
          </div>
          <input id="from" class="form-control" type="text" placeholder="">
          <div class="input-group-prepend">
            <span class="input-group-text">Destination</span>
          </div>
          <input id="to" class="controls" type="text" placeholder="" />
        </div>

        <!-- the following is from https://simpleisbetterthancomplex.com/tutorial/2019/01/03/how-to-use-date-picker-with-django.html-->
        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
          <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
            <div class="input-group-text">
              <i class="fa fa-calendar"></i>
            </div>
          </div>
        </div>

        <div class="inputConatiner">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="findRoute()">
              Search
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-secondary" onclick="getLocation()" type="button">
              Add Current Location To Origin
            </button>
          </span>
        </div>
        <div id="sidebar"></div>
          <div id="result"></div>

            <!-- from  https://www.youtube.com/watch?v=_3xj9B0qqps&t=1739s and corresponding github https://github.com/veryacademy/YT-Django-Iris-App-3xj9B0qqps/blob/master/templates/predict.html-->
          <form action="" id="post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="petal_width">Petal Width</label>
                    <input type="number" step="0.1" class="form-control" id="petal_width" placeholder="" required>
                </div>
                <button type="submit" value="Submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>
            </form>


      </div>
      <div class="col-md-8 ml-md-auto">
        <div id="map"></div>
      </div>
    </div>
  </div>
  </div>

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->

  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPETuAHfCs0s7w6jHsU-5goCWlHPGNIkY&libraries=places">
  </script>
  <script src="{% static 'javascript/CurrentWeather.js' %}"></script>


<script>
    // from  https://www.youtube.com/watch?v=_3xj9B0qqps&t=1739s and corresponding github https://github.com/veryacademy/YT-Django-Iris-App-3xj9B0qqps/blob/master/templates/predict.html
    $(document).on('submit', '#post-form',function(e){
        e.preventDefault();
        var line = directions_response["routes"][0]["legs"][0]["steps"][0]["transit"]["line"]["short_name"]
        var expectedarrival = directions_response["routes"][0]["legs"][0]["steps"][0]["transit"]["arrival_time"]["value"]
        var lat = directions_response["routes"][0]["legs"][0]["steps"][0]["transit"]["arrival_stop"]["location"]["lat"]
        var lng = directions_response["routes"][0]["legs"][0]["steps"][0]["transit"]["arrival_stop"]["location"]["lng"]
        var days = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];
        var date = $('#datetimepicker1').data("datetimepicker")["_viewDate"]["_d"];
        var datetime = date.setHours(0, 0, 0, 0)
        var day = days[date.getDay()]
        console.log("error")
        $.ajax({
            type:'POST',
            url:'{% url "doubledecker:model" %}',
            data:{
                dayofservice: datetime,
                line: line,
                expectedarrival: expectedarrival,
                lat: lat,
                lng: lng,
                day: day,
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success:function(json) {
                document.getElementById("result").innerHTML = json['result']
            },
            error : function(xhr,errmsg,err) {

            }
        });
    })
</script>

</body>

</html>