#map {
  width: 100%;
  height: 580px;
  padding-top: 20px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
    background-color: #F08080;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    align-items:center;
}
/*
this is current weather style. can make it look better
 */
.location {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  font-size: 2.1em;
}

p {
    line-height: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Crete Round', serif;
    font-weight: bold;
    color: #444;
    font-size: 45px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    color: #444;
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    font-size: 30px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}
h4 {
    font-size: 24px;
    color: #F08080;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h5 {
    font-size: 15px;
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #444;
}
a:hover {
    color: #F08080;
}
strong {
    font-weight: bold;
}
small {
    font-size: 13px;
    color: #777;
    font-style: italic;
}
.row.justify-content-center{
    padding: 20px;
}

.container-fluid{
    width: 100%;
    padding:30px;
}

.input-group{
    padding: 10px;
}

/*CSS code for the weather */

*{
    font-family: "Rimouski";
}


.container {
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    padding-bottom: 50px;
}

.app-title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #F08080;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container {
    width: 300px;
    height: 260px;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temperature-value{
    width: 300px;
    height:60px;
}

.temperature-value{
    padding: 0;
    margin: 0;
    color: #293251;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.temperature-value span{
    color: #293251;
    font-size: 0.5em;
}

.temperature-description{
    padding: 8px;
    margin: 0;
    color: #293251;
    text-align: center;
    font-size: 1.2em;
}


.location{
    margin: 0;
    padding: 0;
    color: #293251;
    text-align: center;
    font-size: 0.8em;
}
